body {
  /*padding: 50px;*/
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  width: 260px;
  margin-bottom:50px;
}

p {
  font-size:150%;
  width: 250px;
}

#small p {
  font-size: 100%;
  width: 220px;
  text-align: left;
}

#small2 p {
  font-size: 100%;
  width: 150px;
  color: #0000ff;
  text-decoration:underline;
}

#git p {
  font-size: 120%;
  width: 255px;
  color: #0000ff;
  text-decoration:underline;
}
#centering {
  width: 200px;
  height: 200px;
}

#centering2 {
  width: 100px;
  height: 100px;
}

#centering3 {
  width: 560px;
  height: 315px;
}

#circle {
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
  border:2px solid black !important;
}

